ENV = test        # 可选值: test, uat, prod
RUN_MODE = local  # 可选值: local, ci (本地调试用)
LOG_LEVEL = INFO
PYTHONPATH = .
SENDER_EMAIL = "yourname@company.com"
SENDER_PASSWORD = "16位授权码"
SMTP_SERVER = "smtp.exmail.qq.com"
SMTP_PORT = 465
RECEIVER_EMAIL = "leader@company.com"
PUBLIC_DOMAIN = "ip"
# Redis配置
REDIS_HOST = "ip"
REDIS_PASSWORD = "password"