# 敏感信息
.env
secrets.yaml
.github/vpn/

# Python 缓存
__pycache__/
*.pyc

# 本地缓存
.allure/
allurerc_*.json
utils/allurerc_*.json

# 测试产物（空文件夹占位，但内容不传）
logs/
reports/

# 系统/编辑器文件
.DS_Store
.idea/

# 调试文件
debug.py